# Environment files (may contain secrets)
.env
*.env
!docker/*.env.example

# Database files
*.db
static/uploads/*

# Ignore the virtual environment
venv
.venv

.vscode

# Ignore the cache
__pycache__
backend/__pycache__/*
